#container {
    width: 90vw;
    height: 90vh;
    display: flex;
    gap: 0px;
    flex-direction: column;
}

.row {
    display: flex;
    gap: 0px;
    flex-direction: row;
    width: ;
    height: auto;
}

div {
    flex: 1;
}