#container {
    width: 90vw;
    height: 90vh;
    display: flex;
    gap: 0px;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.square {
    flex: 1;
}